$colors: (
    "bannerGradient": linear-gradient(180.37deg, #989895 6.32%, #868686 17.62%, #7B7B7B 25.73%, #7B7B7B 33.83%, #747474 39.2%, #747775 42.82%, #747775 46.38%, #747775 53.77%, #696B6A 67.25%, #696B6A 69.99%, #696B6A 73.72%, #989895 91.23%),
    "sectionColorOne": #989895,
    "sectionColorTwo": #B6B6B6,
    "sectionColorThree": #A9A9A9,
    eclipse: #ADADAA,
    "textColorOne": black,
    "primary": #D56E46

);

$fonts: (
    "lora": url("../fonts/Lora-Regular.ttf"),
    "pacifico": url("../fonts/Pacifico-Regular.ttf"),
    "dancingScript": url("../fonts/DancingScript-Regular.ttf"),
    "dancingScriptBold": url("../fonts/DancingScript-Bold.ttf"),
    "dancingScriptSemiBold": url("../fonts/DancingScript-SemiBold.ttf"),
);

$measurements: (
    "headerHeight": 70px,
    "defaultPadding": 10%,
    "negativeSpace": 50px,
    "headerFontSize": 1.5rem
);

@function getFonts($value){
    @return map-get($fonts, $value);
}

@function getColors($value){
    @return map-get($colors $value);
}

@function getMeasurements($value){
    @return map-get($measurements $value);
}