@font-face {
  font-family: lora;
  src: url("../fonts/Lora-Regular.ttf");
}
@font-face {
  font-family: pacifico;
  src: url("../fonts/Pacifico-Regular.ttf");
}
@font-face {
  font-family: dancingScript;
  src: url("../fonts/DancingScript-Regular.ttf");
}
@font-face {
  font-family: dancingScriptSemiBold;
  src: url("../fonts/DancingScript-SemiBold.ttf");
}
@font-face {
  font-family: dancingScriptBold;
  src: url("../fonts/DancingScript-Bold.ttf");
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 13px;
}

.flex-container {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.half-width {
  width: 48%;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.column {
  flex-direction: column;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.list-none {
  list-style: none;
}

button {
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.button {
  display: inline-flex;
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  justify-content: center;
  align-items: center;
}

body {
  font-family: lora;
  width: 100%;
  position: relative;
}
body .body-container {
  width: 100%;
  max-width: 1600px;
  position: relative;
  margin-inline: auto;
  font-size: 1.2rem;
}
body .body-container header {
  height: 80px;
  width: 100%;
  position: fixed;
  background: #868686;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  max-width: 1600px;
  padding: 10px 8%;
  z-index: 99;
}
body .body-container header .logo a {
  font-family: pacifico;
  font-size: 1.5rem;
  color: #D56E46;
}
body .body-container header .links ul {
  list-style: none;
}
body .body-container header .links ul li a {
  font-size: 1.2rem;
  color: black;
}
body .body-container header .links ul li:not(:first-child) {
  margin-left: 70px;
}
body .body-container header .mobile-link-btn {
  display: none;
}
body .body-container header .mobile-link-btn button {
  background: transparent;
  color: black;
  border: none;
  font-size: 1.8rem;
}
body .body-container .mobile-menu-content {
  width: 100%;
  max-width: 350px;
  height: 100%;
  background: white;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
body .body-container .mobile-menu-content .close-mobile-link-btn {
  position: absolute;
  right: 0px;
  border: none;
  background: none;
  font-weight: bold;
  font-size: 1.8rem;
  top: 10px;
}
body .body-container .mobile-menu-content ul {
  list-style: none;
  margin-top: 50px;
}
body .body-container .mobile-menu-content ul li a {
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
  color: black;
  padding: 20px 40px;
}
body .body-container .page-container {
  width: 100%;
  position: relative;
  min-height: 100vh;
}
body .body-container footer {
  background: #A9A9A9;
  padding: 80px 8%;
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}
body .body-container footer .footer-container .title {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 15px;
}
body .body-container footer .footer-container .footer-links li a {
  color: black;
}
body .body-container footer .footer-container .footer-links li:not(:last-child) {
  margin-bottom: 15px;
}
body .body-container footer .footer-container p {
  font-size: 1.2rem;
}
body .body-container footer .footer-container p:not(:last-child) {
  margin-bottom: 15px;
}
body .body-container footer .footer-container .content-one {
  width: 22%;
}
body .body-container footer .footer-container .content-one .logo a {
  font-size: 3rem;
  font-family: pacifico;
  color: #D56E46;
}
body .body-container footer .footer-container .content-one .social-container li a {
  font-size: 2.5rem;
  color: black;
}
body .body-container footer .footer-container .content-one .social-container li:not(:last-child) {
  margin-right: 10px;
}
body .body-container footer .footer-container .content-two {
  width: 16%;
}
body .body-container footer .footer-container .bold:not(:last-child) {
  margin-bottom: 15px;
}
body .body-container footer .footer-container:not(:first-child) {
  margin-top: 40px;
}
@media only screen and (max-width: 800px) {
  body .body-container footer .footer-container .content-one,
body .body-container footer .footer-container .content-two {
    width: 48%;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 500px) {
  body .body-container header .desktop-links {
    display: none;
  }
  body .body-container header .mobile-link-btn {
    display: block;
  }
  body .body-container footer .footer-container .content-one,
body .body-container footer .footer-container .content-two {
    width: 100%;
    margin-bottom: 25px;
  }
}/*# sourceMappingURL=index.css.map */