@import "./variables";
@import "./general";

body{
    font-family: lora;
    width: 100%;
    position: relative;
    background:  #f8efec;
    
    .body-container{
        width: 100%;
        max-width: 1600px;
        // background: red;
        background:  #f8efec;
        position: relative;
        margin-inline: auto;
        font-size: 1.2rem;

        header{
            height: getMeasurements("headerHeight");
            width: 100%;
            position: fixed;
            //background: #868686;
            background: transparent;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            max-width: 1600px;
            padding: 10px getMeasurements("defaultPadding");
            z-index: 99;
            transition: 0.5s ease all;
            -webkit-transition: 0.5s ease all;
            -moz-transition: 0.5s ease all;
            -ms-transition: 0.5s ease all;
            -o-transition: 0.5s ease all;

            .logo{
    
                a{
                    font-family: pacifico;
                    font-size: 1.5rem;
                    color: getColors("primary");
                }

                img{
                    max-width: 35px;
                }
            }

            .links{

                ul{
                    list-style: none;

                    li{
                        
                        a{
                            font-size: 1.2rem;
                            color: getColors("textColorOne");
                        }

                        &:not(:first-child){
                            margin-left: 70px;
                        }


                    }
                }
            }

            .mobile-link-btn{
                display: none;

                ul{
                    list-style: none;

                    li{
                        &:not(:first-child){
                            margin-left: 20px;
                        }

                        a{
                            font-size: 1.5rem;
                            color: getColors("textColorOne");
                        }
                    }
                }

                button{
                    background: transparent;
                    color: black;
                    border: none;
                    font-size: 1.8rem;
                }
            }
        }

        .mobile-menu-content{
            width: 100%;
            max-width: 350px;
            height: 100%;
            background: getColors("textColorTwo");
            position: absolute;
            right: 0px;
            top: 0px;
            transition: 0.5s ease all;
            -webkit-transition: 0.5s ease all;
            -moz-transition: 0.5s ease all;
            -ms-transition: 0.5s ease all;
            -o-transition: 0.5s ease all;

            .close-mobile-link-btn{
                position: absolute;
                right: 0px;
                border: none;
                background: none;
                font-weight: bold;
                font-size: 1.8rem;
                top: 10px;
            }

            ul{
                list-style: none;
                margin-top: 50px;

                    li{
                        
                        a{
                            display: inline-block;
                            width: 100%;
                            font-size: 1.2rem;
                            color: getColors("textColorOne");
                            padding: 20px 40px;
                        }


                    }
                }

        }
    
        .page-container{
            width: 100%;
            position: relative;
            min-height: 100vh;
    
        }

        footer{
            background: black;
            padding: 80px getMeasurements("defaultPadding");
            width: 100%;
            height: auto;
            padding-bottom: 30px;
            color: rgba(255, 255, 255, .7);

            .footer-container{

                .title{
                    font-weight: bold;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                    color: getColors(textColorTwo);
                }

                .footer-links{

                    li{

                        a{
                            color: rgba(255, 255, 255, .7);
                        }

                        &:not(:last-child){
                            margin-bottom: 15px;
                        }
                    }
                }

                p{
                    font-size: 1.2rem;
                    &:not(:last-child){
                        
                        margin-bottom: 15px;

                    }
                }

                .content-one{
                    width: 22%;
                    // border: 1px solid red;
                    
                    .logo{
                        display: flex;
                        align-items: center;

                        
                        a{
                            font-size: 2rem;
                            color: rgba(255, 255, 255, .7);
                            margin-left: 10px;
                        }

                        img{
                            max-width: 60px;
                        }
                    }

                    .social-container{

                        li{
                            
                            
                            a{
                                font-size: 2.5rem;
                                color:  rgba(255, 255, 255, .7);
                            }

                            &:not(:last-child){
                                margin-right: 10px;
                            }
                        }
                    }
                }

                .content-two{

                    width: 16%;
                    // border: 1px solid red;

                }

                .bold{

                    &:not(:last-child){

                        margin-bottom: 15px;
                    }
                }

                &:not(:first-child){
                    margin-top: 40px;
                }
            }
        }

        .contact-floating-button{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: fixed;
            bottom: 20px;
            right: 20px;
            background: green;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            -ms-border-radius: 100px;
            -o-border-radius: 100px;
            padding: 10px;
            z-index: 9999;
            width: 40px;
            overflow: hidden;
            transition: 0.5s ease all;
            -webkit-transition: 0.5s ease all;
            -moz-transition: 0.5s ease all;
            -ms-transition: 0.5s ease all;
            -o-transition: 0.5s ease all;


            span{
                display: flex;
                padding: 0px;
                margin: 0px;
                color: white;

                &.icon{
                    font-size: 1.5rem;
                }

                &.text{
                    margin-left: 10px;
                    font-size: 1rem;
                    min-width: 150px;
                }
            }

            &:hover{
                width: 195px;
            }
        }
    }

    @media only screen and (max-width: 800px){

        .body-container{

            footer{

                .footer-container{

                    .content-one,
                    .content-two{
                        width: 48%;
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 500px){

        .body-container{

            header{

                .desktop-links{
                    display: none;
                }

                .mobile-link-btn{
                    display: block;
                }
            }

            footer{

                .footer-container{

                    .content-one,
                    .content-two{
                        width: 100%;
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }

}